.swiper-navigation-btn {
    position: absolute;
    z-index: 5;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: $base;
    border-radius: 50%;
    box-shadow: 0 0 10px -1px rgba($neutral-07, 0.2);
    transform: translateY(-50%);

    svg {
        width: 100%;
        height: 100%;

        use {
            transition: stroke $transition-duration;
            stroke: $neutral-07;
        }
    }

    &._small {
        svg {
            width: 24px;
            height: 24px;
        }
    }

    &._prev {
        left: 24px;

        svg {
            transform: rotate(180deg);
        }
    }

    &._next {
        right: 24px;
    }

    @include respond-to(d) {
        width: 40px;
        height: 40px;

        &._prev {
            left: 32px;
        }

        &._next {
            right: 32px;
        }
    }
}

.swiper-button-disabled {
    color: $neutral-04;

    svg {
        use {
            stroke: $neutral-04;
        }
    }
}

.swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 16px;
    z-index: 5;
    display: flex;
    gap: 8px;
    transform: translateX(-50%);

    @include respond-to(d) {
        gap: 16px;
    }
}

.swiper-pagination-dot {
    width: 8px;
    height: 8px;
    background: $base;
    border-radius: 50%;
    box-shadow: 0 0 10px -1px rgba($neutral-07, 0.2);
    transition: width $transition-duration, border-radius $transition-duration;

    &._active {
        width: 30px;
        border-radius: 12px;
    }
}
